.root {
	margin: 2bh 0;
}

.heading {
	composes: sectionTitleHeading from './Page.css';
	position: relative;
	margin-left: 1bh;
	margin-right: 1bh;

	font-weight: 300;
}

.subheading {
	composes: sectionLevel1Heading from './Page.css';
	margin-left: 1bh;
	margin-right: 1bh;
}

.root p {
	margin: 0.5bh 0;
	margin-right: calc(5 / 10 * 100%);
	padding: 0 1bh;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-end-max) {
		margin-right: calc(4 / 12 * 100%);
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		margin-right: 0;
	}
}

.list {
	composes: list from './Page.css';
	margin-right: calc(5 / 10 * 100%);
	padding: 0 1bh;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-end-max) {
		margin-right: calc(4 / 12 * 100%);
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		margin-right: 0;
	}
}
