.root {
	margin: 1bh 0;
}

.label {
	display: block;
	margin-bottom: 0.25bh;

	color: var(--colors-neutral-3);
	font-size: calc(var(--typographicScale-1) * 1px);
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.05em;
}

.fields {
}

.hint {
}

.errorMessage {
}

:global(.isAdjacent) {
	margin-top: -0.5bh;
}
