.root {
	padding: 0 1bh;
}

.map {
	width: 100%;
	height: 33vh;
	margin: 1bh 0;

	> div {
		width: 100%;
		height: 100%;
	}

	@media all and (orientation: landscape) {
		height: 66vh;
	}
}

.tableItemHeading {
	a {
		&:before {
			bottom: calc(-1 / 8 * 1bh);
		}

		& > span {
			margin-top: 7px;
		}
	}
}

.tableSubitems {
}

.isHidden {
	visibility: hidden;

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		display: none;
	}
}

.tableSubitem {
	&:first-child {
		margin-top: -0.5bh;
	}

	&:last-child {
		margin-bottom: -0.5bh;
	}

	> *:first-child {
		margin-right: auto;
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		&:first-child {
			margin-top: 0;
		}
	}

	@media screen and (--compactPage-start-min) and (--compactPage-end-max) {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.tableSubitem + .tableSubitem {
	margin-top: -0.5bh;

	@media screen and (--compactPage-start-min) and (--compactPage-end-max) {
		margin-top: 0;
	}
}

.ratingBadge {
	position: relative;
	padding: 0 0.25bh;

	border-radius: 0.125bh;

	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig', 'lnum', 'tnum';
}

.rating1 {
	color: var(--colors-background);
	background-color: #a50026;
}

.rating2 {
	color: var(--colors-background);
	background-color: #d73027;
}

.rating3 {
	color: var(--colors-text);
	background-color: #f46d43;
}

.rating4 {
	color: var(--colors-text);
	background-color: #fdae61;
}

.rating5 {
	color: var(--colors-text);
	background-color: #fee08b;
}

.rating6 {
	color: var(--colors-text);
	background-color: #ffffbf;
}

.rating7 {
	color: var(--colors-text);
	background-color: #d9ef8b;
}

.rating8 {
	color: var(--colors-text);
	background-color: #a6d96a;
}

.rating9 {
	color: var(--colors-text);
	background-color: #66bd63;
}

.rating10 {
	color: var(--colors-background);
	background-color: #1a9850;
}

.rating11 {
	color: var(--colors-background);
	background-color: #006837;
}

.whiskyInfo {
	display: flex;
	margin-left: 0.5bh;

	color: var(--colors-neutral-shade-2);

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		align-self: flex-start;
		margin-top: 0.75bh;
	}

	@media screen and (--compactPage-start-min) and (--compactPage-end-max) {
		margin-left: 0;
		margin-top: 0.5bh;
	}

	li {
		position: relative;
		padding-left: 1bh;

		white-space: nowrap;

		&:before {
			position: absolute;
			content: '\\';
			width: 0.5bh;
			left: 0.25bh;
			top: 0;

			color: var(--colors-neutral-tint-4);

			text-align: center;
		}

		&:first-child {
			padding: 0;
			
			&:before {
				content: none;
			}
		}
	}

	.ratingBadge {
		font-weight: 600;
	}
}

.isPlaceClosed {
	color: var(--colors-neutral-base);
}
