.root {
	margin: 2bh 0;
	padding: 0 1bh;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	pre {
		white-space: normal;
	}
}

.heading {
	composes: sectionTitleHeading from './Page.css';
	position: relative;

	font-weight: 300;
}

.title {
	b {
		display: inline;

		font-weight: 800;
		font-size: inherit;
		line-height: inherit;
		text-transform: none;
	}
}

.subtitle {
	display: block;

	font-size: calc(var(--typographicScale-4) * 1px);
	line-height: 1bh;
	font-weight: 600;
	text-transform: uppercase;
}

.attributeHeading {
	composes: sectionLevel4Heading from './Page.css';
	margin: 0;
}

.row {
	display: flex;
	margin: 0 -1bh;
	flex-wrap: wrap;

	&:nth-of-type(1) {
		margin-top: -1bh;
	}

	@media screen and (--tinyMenu-start-min) and (--tinyMenu-end-max) {
		display: block;

		&:nth-of-type(1) {
			margin-top: 0;
		}
	}
}

.rowItem {
	width: calc(2 / 10 * 100%);
	padding: 0 1bh;
	margin-top: 1bh;

	.hasOnlyText {
		margin: 0.25bh 0;
	}

	&.isTopAligned {
		justify-content: flex-start;
	}

	@media screen and (--compactMenu-end-min) and (--singleColumnPage-end-max) {
		width: calc(2 / 12 * 100%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@media screen and (--tinyMenu-end-min) and (--compactMenu-end-max) {
		width: calc(4 / 12 * 100%);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@media screen and (--tinyMenu-start-min) and (--tinyMenu-end-max) {
		width: 100%;

		.hasOnlyText {
			margin-top: 0;
		}
	}
}

.doubleRowItem {
	width: calc(4 / 10 * 100%);
	padding: 0 1bh;
	margin-top: 1bh;

	@media screen and (--compactMenu-end-min) and (--singleColumnPage-end-max) {
		width: calc(4 / 12 * 100%);
	}

	@media screen and (--tinyMenu-end-min) and (--compactMenu-end-max) {
		width: calc(8 / 12 * 100%);
	}

	@media screen and (--tinyMenu-start-min) and (--tinyMenu-end-max) {
		width: 100%;
	}
}

.tripleRowItem {
	width: calc(6 / 10 * 100%);
	padding: 0 1bh;
	margin-top: 1bh;

	@media screen and (--compactMenu-end-min) and (--singleColumnPage-end-max) {
		width: calc(8 / 12 * 100%);
	}

	@media screen and (--tinyMenu-end-min) and (--compactMenu-end-max) {
		width: calc(10 / 12 * 100%);
	}

	@media screen and (--tinyMenu-start-min) and (--tinyMenu-end-max) {
		width: 100%;
	}
}

.wideRowItem {
	width: 100%;
	padding: 0 1bh;
	margin-top: 1bh;
}

.openingHours {
	display: flex;
	justify-content: space-between;
	margin: 0 -1bh;

	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig', 'lnum', 'tnum';
}

.openingHoursLabel {
	width: calc(2 / 6 * 100%);
	padding: 0 1bh;

	@media screen and (--compactMenu-end-min) and (--singleColumnPage-end-max) {
		width: calc(2 / 8 * 100%);
	}

	@media screen and (--tinyMenu-end-min) and (--compactMenu-end-max) {
		width: calc(4 / 10 * 100%);
	}

	@media screen and (--tinyMenu-start-min) and (--tinyMenu-end-max) {
		width: calc(6 / 12 * 100%);
	}
}

.openingHoursValue {
	width: calc(4 / 6 * 100%);
	padding: 0 1bh;

	@media screen and (--compactMenu-end-min) and (--singleColumnPage-end-max) {
		width: calc(6 / 8 * 100%);
	}

	@media screen and (--tinyMenu-end-min) and (--compactMenu-end-max) {
		width: calc(6 / 10 * 100%);
	}

	@media screen and (--tinyMenu-start-min) and (--tinyMenu-end-max) {
		width: calc(6 / 12 * 100%);
	}
}

.ratingBadge {
	position: relative;
	padding: 0 0.25bh;

	border-radius: 0.125bh;

	font-weight: 600;
	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig', 'lnum', 'tnum';
}

.rating1 {
	color: var(--colors-background);
	background-color: #a50026;
}

.rating2 {
	color: var(--colors-background);
	background-color: #d73027;
}

.rating3 {
	color: var(--colors-text);
	background-color: #f46d43;
}

.rating4 {
	color: var(--colors-text);
	background-color: #fdae61;
}

.rating5 {
	color: var(--colors-text);
	background-color: #fee08b;
}

.rating6 {
	color: var(--colors-text);
	background-color: #ffffbf;
}

.rating7 {
	color: var(--colors-text);
	background-color: #d9ef8b;
}

.rating8 {
	color: var(--colors-text);
	background-color: #a6d96a;
}

.rating9 {
	color: var(--colors-text);
	background-color: #66bd63;
}

.rating10 {
	color: var(--colors-background);
	background-color: #1a9850;
}

.rating11 {
	color: var(--colors-background);
	background-color: #006837;
}

.isTrue {
}

.isFalse {
	color: var(--colors-neutral-base);
}

.isUnknown {
	color: var(--colors-neutral-base);
}

.whiskiesHeading {
	composes: sectionLevel1Heading from './Page.css';

	& + .row {
		margin-top: -1bh;
	}

	@media screen and (--tinyMenu-start-min) and (--tinyMenu-end-max) {
		display: block;

		& + .row {
			margin-top: 0;
		}
	}
}

.tableSubitems {
}

.tableSubitem {
	&:first-child {
		margin-top: -0.5bh;
	}

	&:last-child {
		margin-bottom: -0.5bh;
	}

	> *:first-child {
		margin-right: auto;
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		&:first-child {
			margin-top: 0;
		}
	}

	@media screen and (--compactPage-start-min) and (--compactPage-end-max) {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.tableSubitem + .tableSubitem {
	margin-top: -0.5bh;

	@media screen and (--compactPage-start-min) and (--compactPage-end-max) {
		margin-top: 0;
	}
}

.whiskyInfo {
	display: flex;
	margin-left: 0.5bh;

	color: var(--colors-neutral-shade-2);

	@media screen and (--compactPage-start-min) and (--singleColumnPage-middle-max) {
		align-self: flex-start;
		margin-top: 0.75bh;
	}

	@media screen and (--compactPage-start-min) and (--compactPage-end-max) {
		margin-left: 0;
		margin-top: 0.5bh;
	}

	li {
		position: relative;
		padding-left: 1bh;

		white-space: nowrap;

		&:before {
			position: absolute;
			content: '\\';
			width: 0.5bh;
			left: 0.25bh;
			top: 0;

			color: var(--colors-neutral-tint-4);

			text-align: center;
		}

		&:first-child {
			padding: 0;
			
			&:before {
				content: none;
			}
		}
	}

	.ratingBadge {
		font-weight: 600;
	}
}

.points {
	margin: 0 -1bh;

	li {
		display: flex;
		justify-content: space-between;
		margin: 0.5bh 0;
		width: calc(4 / 10 * 100%);
		padding: 0 1bh;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media screen and (--compactPage-start-min) and (--singleColumnPage-end-max) {
		li {
			width: calc(4 / 12 * 100%);
		}
	}

	@media screen and (--compactMenu-end-min) and (--singleColumnPage-end-max) {
		li {
			width: calc(6 / 12 * 100%);
		}
	}

	@media screen and (--tinyMenu-end-min) and (--compactMenu-end-max) {
		li {
			width: calc(8 / 12 * 100%);
		}
	}

	@media screen and (--tinyMenu-start-min) and (--tinyMenu-end-max) {
		li {
			width: 100%;
		}
	}
}

.pointsLabel {
}

.pointsValue {
	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig', 'lnum', 'tnum';
}
