.root {
	display: block;
	position: relative;
	padding-left: 1.5bh;
	margin: 0.5bh 0;

	color: var(--colors-text);
	background-image: none;
	text-shadow: none;

	&:hover, &:active, &:focus, &:visited {
		background-image: none;
		text-shadow: none;
	}

	&.islay:before, &.islay:after,
	&.islands:before, &.islands:after,
	&.highland:before, &.highland:after,
	&.lowland:before, &.lowland:after,
	&.speyside:before, &.speyside:after,
	&.campbeltown:before, &.campbeltown:after,
	&:before, &:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 1bh;
		height: 1bh;
		visibility: visible;
		opacity: 1;
		right: auto;
		bottom: auto;

		border-radius: 50%;
		background-color: #eee;
		transition: none;
		border: 0 none;
		transform: translateX(0) translateY(0.25bh);
	}

	&.islay:after,
	&.islands:after,
	&.highland:after,
	&.lowland:after,
	&.speyside:after,
	&.campbeltown:after,
	&:after {
		left: 0;
		top: 0;
		width: 15px;
		height: 15px;

		background-color: transparent;
		border: 4px solid #fff;
		transform: translateX(6.5px) translateY(13.5px);
	}

	&.islay.isSingleMalt:after,
	&.islands.isSingleMalt:after,
	&.highland.isSingleMalt:after,
	&.lowland.isSingleMalt:after,
	&.speyside.isSingleMalt:after,
	&.campbeltown.isSingleMalt:after,
	&.isSingleMalt:after {
		left: 0;
		top: 0;
		width: 12px;
		height: 12px;

		background-color: #fff;
		border: 0 none;
		transform: translateX(8px) translateY(15px);
	}

	&.islay:before {
		background-color: var(--colors-islay-2);
	}

	&.islay:after {
		border-color: var(--colors-islay-1);
	}

	&.islay.isSingleMalt:after {
		background-color: var(--colors-islay-1);
	}

	&.islands:before {
		background-color: var(--colors-islands-2);
	}

	&.islands:after {
		border-color: var(--colors-islands-1);
	}

	&.islands.isSingleMalt:after {
		background-color: var(--colors-islands-1);
	}

	&.highland:before {
		background-color: var(--colors-highland-2);
	}

	&.highland:after {
		border-color: var(--colors-highland-1);
	}

	&.highland.isSingleMalt:after {
		background-color: var(--colors-highland-1);
	}

	&.lowland:before {
		background-color: var(--colors-lowland-2);
	}

	&.lowland:after {
		border-color: var(--colors-lowland-1);
	}

	&.lowland.isSingleMalt:after {
		background-color: var(--colors-lowland-1);
	}

	&.speyside:before {
		background-color: var(--colors-speyside-2);
	}

	&.speyside:after {
		border-color: var(--colors-speyside-1);
	}

	&.speyside.isSingleMalt:after {
		background-color: var(--colors-speyside-1);
	}

	&.campbeltown:before {
		background-color: var(--colors-campbeltown-2);
	}

	&.campbeltown:after {
		border-color: var(--colors-campbeltown-1);
	}

	&.campbeltown.isSingleMalt:after {
		background-color: var(--colors-campbeltown-1);
	}
}

.title {
	font-size: calc(var(--typographicScale-9) * 1px);
	line-height: 1.5bh;
	font-weight: 400;
	font-family: var(--heading-fontFamily);
	font-feature-settings: var(--heading-fontFeatures);

	b {
		font-weight: 700;
	}
}

.subtitle {
	display: inline-block;

	font-size: calc(var(--typographicScale-2) * 1px);
	line-height: 1bh;
	font-weight: 600;
	text-transform: uppercase;

	&:before {
		content: ' ';
	}
}
